a {
    height: 50%;
}

.link-items{
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
    padding: 0vw 2vw;
    text-decoration: none;
}

.link-items:hover{
    cursor: pointer;
    text-decoration: none;
    color: #2fe7ff;
}

.header-container{
    display: flex;
    position: fixed !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
}

.logo-icon-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-main{
    width: 40%;
    padding-right: 2%;
    padding-left: 2%;
    background: #bababa;
    border-radius: 0.5vw;
}

.header-text{
    margin-top: none !important;
    margin-bottom: none !important;
    margin-left: 5%;
    font-size: 2vw;
    font-weight: 100;
}

.link-container{
    display: flex;
    align-self: flex-end;
}